* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --primary-font-family: 'Rubik', Arial, sans-serif;
    --secondary-font-family: 'Press Start 2P', Arial, Helvetica, sans-serif;
}

body {
    font-family: var(--primary-font-family);
}

h1 {
    margin: 20px 0 0 0;
}

h1, h2 {
    font-family: var(--secondary-font-family);
    text-align: center;
    text-transform: capitalize;
}

hr {
    margin: 20px 0;
}

/* .search-pokemon {
    display: flex;
    justify-content: center;
    margin: 3rem 0 0 0;
} */

.div-search-pokemon {
    display: flex;
    justify-content: center;
    margin: 3rem 0;
    gap: 20px;
    /* width: 45%; */
}

#search-pokemon, #search-type-pokemon, #search-type2-pokemon {
    width: 45%;
    line-height: 28px;
    border: 2px solid transparent;
    border-bottom-color: #777;
    padding: .2rem 0;
    outline: none;
    background-color: transparent;
    color: #0d0c22;
    transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#search-type-pokemon, #search-type2-pokemon {
    width: 150px;
    cursor: pointer;
}

#search-pokemon:focus, #search-pokemon:hover, #search-type-pokemon:hover, #search-type-pokemon:focus, #search-type2-pokemon:hover, #search-type2-pokemon:focus {
    outline: none;
    padding: .2rem 1rem;
    border-radius: 1rem;
    border-color: black;
}

#search-type2-pokemon:disabled {
    color: #9d9d9d;
    border-bottom-color: #9d9d9d;
    cursor: default;
}

#search-type2-pokemon:disabled:hover, #search-type2-pokemon:disabled:focus {
    padding: 0;
    border-radius: 0;
    border-color: transparent;
    border-bottom-color: #9d9d9d;
}

#search-pokemon::placeholder {
    color: #777;
}

#search-pokemon:focus::placeholder {
    opacity: 0;
    transition: opacity .3s;
}

/* Content pokedex */
.content-pokedex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.card {
    font-family: var(--secondary-font-family);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    width: 220px;
    padding: 20px 0 20px 0;
    height: auto;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card:hover {
    animation: bounce 0.5s linear;
}

@keyframes bounce {
    20% {
        transform: translateY(-6px);
    }
    40% {
        transform: translateY(-0px);
    }
    60% {
        transform: translateY(-2px);
    }
    80% {
        transform: translateY(-0px);
    }
}

.card-number {
    position: absolute;
    font-size: 14px;
    top: 10px;
    left: 10px;
}

.card-image {
    width: 155px;
}

.card-name {
    text-transform: capitalize;
    text-align: center;
    padding: 0 5px 0 5px;
}

.card-types {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    text-transform: uppercase;
    margin: 10px 0 0 0;
    font-size: 12px;
}

.card-types span {
    padding: 5px;
    border-radius: 100px;
}


/* Modal pokemon */

.pokemon-sheet {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow-y: auto;
}

.close-pokemon-sheet {
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: 'Rubik', Arial, sans-serif;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 100px;
    cursor: pointer;
    user-select: none;
    transition: all 0.5s;
}

.close-pokemon-sheet:hover {
    background-color: #000;
    color: #fff;
}

/* Content modal pokemon */
h2.pokemon-name-fr {
    font-size: 16px;
}

.genera-pokemon {
    text-align: center;
    margin-top: 10px;
}

.badge-genera-pokemon {
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    background-color: #0d0c22;
    color: white;
    cursor: pointer;
    user-select: none;
}

.pokemon-basic-information {
    display: flex;
    justify-content: space-evenly;
    margin: 0 10px;
}

.pokemon-basic-information div {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 200%;
    font-size: 24px;
}

table.basic-informations {
    width: 350px;
}

td.title-table {
    text-align: end;
    padding-right: 10px;
    font-weight: bold;
}

.toggle-sprite-pokemon {
    cursor: pointer;
}

.pokemon-abilities {
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
}

.pokemon-types span, .pokemon-abilities span {
    text-transform: uppercase;
    padding: 5px;
    border-radius: 100px;
}

.pokemon-abilities span {
    width: fit-content;
}

.pokemon-advanced-information {
    display: flex;
    justify-content: center;
    gap: 10%;
}

.pokemon-advanced-information h2 {
    margin-bottom: 10px;
}

.pokemon-forms, .pokemon-trainings, .pokemon-breedings {
    line-height: 200%;
} 

/* Evolutions & Varieties */
.evolutions-chain-pokemon, .div-varieties-pokemon {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
    margin: 50px 0;
}

.evolution-pokemon, .varieties-pokemon {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin: 0 5%;
}

.no-pokemon-varieties {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    border: 1px solid black;
    border-radius: 10px;
}








/* Couleur des types */

/* .background-color-normal { background: -webkit-linear-gradient(180deg, #a4acaf 50%, #a4acaf 50%);background: -ms-linear-gradient(180deg, #a4acaf 50%, #a4acaf 50%);background: -moz-linear-gradient(180deg, #a4acaf 50%, #a4acaf 50%);background: -o-linear-gradient(180deg, #a4acaf 50%, #a4acaf 50%);background: linear-gradient(180deg, #a4acaf 50%, #a4acaf 50%);background-color: #a4acaf;color: #fff;}
.background-color-combat { background: -webkit-linear-gradient(180deg, #d56723 50%, #d56723 50%);background: -ms-linear-gradient(180deg, #d56723 50%, #d56723 50%);background: -moz-linear-gradient(180deg, #d56723 50%, #d56723 50%);background: -o-linear-gradient(180deg, #d56723 50%, #d56723 50%);background: linear-gradient(180deg, #d56723 50%, #d56723 50%);background-color: #d56723;color: #fff;}
.background-color-vol { background: -webkit-linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);background: -ms-linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);background: -moz-linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);background: -o-linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%); background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);background-color: #3dc7ef;color: #fff;}
.background-color-poison { background: -webkit-linear-gradient(180deg, #b97fc9 50%, #b97fc9 50%);background: -ms-linear-gradient(180deg, #b97fc9 50%, #b97fc9 50%);background: -moz-linear-gradient(180deg, #b97fc9 50%, #b97fc9 50%);background: -o-linear-gradient(180deg, #b97fc9 50%, #b97fc9 50%);background: linear-gradient(180deg, #b97fc9 50%, #b97fc9 50%);background-color: #b97fc9;color: #fff;}
.background-color-sol { background: -webkit-linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);background: -ms-linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);background: -moz-linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);background: -o-linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);background-color: #f7de3f;color: #fff;}
.background-color-roche { background: -webkit-linear-gradient(180deg, #a38c21 50%, #a38c21 50%);background: -ms-linear-gradient(180deg, #a38c21 50%, #a38c21 50%);background: -moz-linear-gradient(180deg, #a38c21 50%, #a38c21 50%);background: -o-linear-gradient(180deg, #a38c21 50%, #a38c21 50%);background: linear-gradient(180deg, #a38c21 50%, #a38c21 50%);background-color: #a38c21;color: #fff;}
.background-color-insecte { background: -webkit-linear-gradient(180deg, #729f3f 50%, #729f3f 50%);background: -ms-linear-gradient(180deg, #729f3f 50%, #729f3f 50%);background: -moz-linear-gradient(180deg, #729f3f 50%, #729f3f 50%);background: -o-linear-gradient(180deg, #729f3f 50%, #729f3f 50%);background: linear-gradient(180deg, #729f3f 50%, #729f3f 50%);background-color: #729f3f;color: #fff;}
.background-color-spectre { background: -webkit-linear-gradient(180deg, #7b62a3 50%, #7b62a3 50%);background: -ms-linear-gradient(180deg, #7b62a3 50%, #7b62a3 50%);background: -moz-linear-gradient(180deg, #7b62a3 50%, #7b62a3 50%);background: -o-linear-gradient(180deg, #7b62a3 50%, #7b62a3 50%);background: linear-gradient(180deg, #7b62a3 50%, #7b62a3 50%);background-color: #7b62a3;color: #fff;}
.background-color-acier { background: -webkit-linear-gradient(180deg, #9eb7b8 50%, #9eb7b8 50%);background: -ms-linear-gradient(180deg, #9eb7b8 50%, #9eb7b8 50%);background: -moz-linear-gradient(180deg, #9eb7b8 50%, #9eb7b8 50%);background: -o-linear-gradient(180deg, #9eb7b8 50%, #9eb7b8 50%);background: linear-gradient(180deg, #9eb7b8 50%, #9eb7b8 50%);background-color: #9eb7b8;color: #fff;}
.background-color-feu { background: -webkit-linear-gradient(180deg, #fd7d24 50%, #fd7d24 50%); background: -ms-linear-gradient(180deg, #fd7d24 50%, #fd7d24 50%);background: -moz-linear-gradient(180deg, #fd7d24 50%, #fd7d24 50%);background: -o-linear-gradient(180deg, #fd7d24 50%, #fd7d24 50%);background: linear-gradient(180deg, #fd7d24 50%, #fd7d24 50%);background-color: #fd7d24;color: #fff; }
.background-color-eau { background: -webkit-linear-gradient(180deg, #4592c4 50%, #4592c4 50%);background: -ms-linear-gradient(180deg, #4592c4 50%, #4592c4 50%);background: -moz-linear-gradient(180deg, #4592c4 50%, #4592c4 50%);background: -o-linear-gradient(180deg, #4592c4 50%, #4592c4 50%);background: linear-gradient(180deg, #4592c4 50%, #4592c4 50%);background-color: #4592c4;color: #fff;}
.background-color-plante { background: -webkit-linear-gradient(180deg, #9bcc50 50%, #9bcc50 50%);background: -ms-linear-gradient(180deg, #9bcc50 50%, #9bcc50 50%);background: -moz-linear-gradient(180deg, #9bcc50 50%, #9bcc50 50%);background: -o-linear-gradient(180deg, #9bcc50 50%, #9bcc50 50%);background: linear-gradient(180deg, #9bcc50 50%, #9bcc50 50%);background-color: #9bcc50;color: #fff;}
.background-color-electrik { background: -webkit-linear-gradient(180deg, #eed535 50%, #eed535 50%);background: -ms-linear-gradient(180deg, #eed535 50%, #eed535 50%);background: -moz-linear-gradient(180deg, #eed535 50%, #eed535 50%);background: -o-linear-gradient(180deg, #eed535 50%, #eed535 50%);background: linear-gradient(180deg, #eed535 50%, #eed535 50%);background-color: #eed535; color: #fff;}
.background-color-psy { background: -webkit-linear-gradient(180deg, #f366b9 50%, #f366b9 50%);background: -ms-linear-gradient(180deg, #f366b9 50%, #f366b9 50%);background: -moz-linear-gradient(180deg, #f366b9 50%, #f366b9 50%);background: -o-linear-gradient(180deg, #f366b9 50%, #f366b9 50%);background: linear-gradient(180deg, #f366b9 50%, #f366b9 50%);background-color: #f366b9;color: #fff;}
.background-color-glace { background: -webkit-linear-gradient(180deg, #51c4e7 50%, #51c4e7 50%);background: -ms-linear-gradient(180deg, #51c4e7 50%, #51c4e7 50%);background: -moz-linear-gradient(180deg, #51c4e7 50%, #51c4e7 50%);background: -o-linear-gradient(180deg, #51c4e7 50%, #51c4e7 50%);background: linear-gradient(180deg, #51c4e7 50%, #51c4e7 50%);background-color: #51c4e7;color: #fff;}
.background-color-dragon { background: -webkit-linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);background: -ms-linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);background: -moz-linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);background: -o-linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);background-color: #53a4cf;color: #fff;}
.background-color-tenebre { background: -webkit-linear-gradient(180deg, #707070 50%, #707070 50%);background: -ms-linear-gradient(180deg, #707070 50%, #707070 50%);background: -moz-linear-gradient(180deg, #707070 50%, #707070 50%);background: -o-linear-gradient(180deg, #707070 50%, #707070 50%);background: linear-gradient(180deg, #707070 50%, #707070 50%);background-color: #707070;color: #fff;}
.background-color-fee { background: -webkit-linear-gradient(180deg, #fdb9e9 50%, #fdb9e9 50%);background: -ms-linear-gradient(180deg, #fdb9e9 50%, #fdb9e9 50%);background: -moz-linear-gradient(180deg, #fdb9e9 50%, #fdb9e9 50%);background: -o-linear-gradient(180deg, #fdb9e9 50%, #fdb9e9 50%);background: linear-gradient(180deg, #fdb9e9 50%, #fdb9e9 50%);background-color: #fdb9e9;color: #fff;} */


/* Color Types */

.background-color-normal { background: -webkit-linear-gradient(180deg, #a4acaf 50%, #a4acaf 50%);background: -ms-linear-gradient(180deg, #a4acaf 50%, #a4acaf 50%);background: -moz-linear-gradient(180deg, #a4acaf 50%, #a4acaf 50%);background: -o-linear-gradient(180deg, #a4acaf 50%, #a4acaf 50%);background: linear-gradient(180deg, #a4acaf 50%, #a4acaf 50%);background-color: #a4acaf;color: #fff;}
.background-color-fighting { background: -webkit-linear-gradient(180deg, #d56723 50%, #d56723 50%);background: -ms-linear-gradient(180deg, #d56723 50%, #d56723 50%);background: -moz-linear-gradient(180deg, #d56723 50%, #d56723 50%);background: -o-linear-gradient(180deg, #d56723 50%, #d56723 50%);background: linear-gradient(180deg, #d56723 50%, #d56723 50%);background-color: #d56723;color: #fff;}
.background-color-flying { background: -webkit-linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);background: -ms-linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);background: -moz-linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);background: -o-linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%); background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);background-color: #3dc7ef;color: #fff;}
.background-color-poison { background: -webkit-linear-gradient(180deg, #b97fc9 50%, #b97fc9 50%);background: -ms-linear-gradient(180deg, #b97fc9 50%, #b97fc9 50%);background: -moz-linear-gradient(180deg, #b97fc9 50%, #b97fc9 50%);background: -o-linear-gradient(180deg, #b97fc9 50%, #b97fc9 50%);background: linear-gradient(180deg, #b97fc9 50%, #b97fc9 50%);background-color: #b97fc9;color: #fff;}
.background-color-ground { background: -webkit-linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);background: -ms-linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);background: -moz-linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);background: -o-linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);background-color: #f7de3f;color: #fff;}
.background-color-rock { background: -webkit-linear-gradient(180deg, #a38c21 50%, #a38c21 50%);background: -ms-linear-gradient(180deg, #a38c21 50%, #a38c21 50%);background: -moz-linear-gradient(180deg, #a38c21 50%, #a38c21 50%);background: -o-linear-gradient(180deg, #a38c21 50%, #a38c21 50%);background: linear-gradient(180deg, #a38c21 50%, #a38c21 50%);background-color: #a38c21;color: #fff;}
.background-color-bug { background: -webkit-linear-gradient(180deg, #729f3f 50%, #729f3f 50%);background: -ms-linear-gradient(180deg, #729f3f 50%, #729f3f 50%);background: -moz-linear-gradient(180deg, #729f3f 50%, #729f3f 50%);background: -o-linear-gradient(180deg, #729f3f 50%, #729f3f 50%);background: linear-gradient(180deg, #729f3f 50%, #729f3f 50%);background-color: #729f3f;color: #fff;}
.background-color-ghost { background: -webkit-linear-gradient(180deg, #7b62a3 50%, #7b62a3 50%);background: -ms-linear-gradient(180deg, #7b62a3 50%, #7b62a3 50%);background: -moz-linear-gradient(180deg, #7b62a3 50%, #7b62a3 50%);background: -o-linear-gradient(180deg, #7b62a3 50%, #7b62a3 50%);background: linear-gradient(180deg, #7b62a3 50%, #7b62a3 50%);background-color: #7b62a3;color: #fff;}
.background-color-steel { background: -webkit-linear-gradient(180deg, #9eb7b8 50%, #9eb7b8 50%);background: -ms-linear-gradient(180deg, #9eb7b8 50%, #9eb7b8 50%);background: -moz-linear-gradient(180deg, #9eb7b8 50%, #9eb7b8 50%);background: -o-linear-gradient(180deg, #9eb7b8 50%, #9eb7b8 50%);background: linear-gradient(180deg, #9eb7b8 50%, #9eb7b8 50%);background-color: #9eb7b8;color: #fff;}
.background-color-fire { background: -webkit-linear-gradient(180deg, #fd7d24 50%, #fd7d24 50%); background: -ms-linear-gradient(180deg, #fd7d24 50%, #fd7d24 50%);background: -moz-linear-gradient(180deg, #fd7d24 50%, #fd7d24 50%);background: -o-linear-gradient(180deg, #fd7d24 50%, #fd7d24 50%);background: linear-gradient(180deg, #fd7d24 50%, #fd7d24 50%);background-color: #fd7d24;color: #fff; }
.background-color-water { background: -webkit-linear-gradient(180deg, #4592c4 50%, #4592c4 50%);background: -ms-linear-gradient(180deg, #4592c4 50%, #4592c4 50%);background: -moz-linear-gradient(180deg, #4592c4 50%, #4592c4 50%);background: -o-linear-gradient(180deg, #4592c4 50%, #4592c4 50%);background: linear-gradient(180deg, #4592c4 50%, #4592c4 50%);background-color: #4592c4;color: #fff;}
.background-color-grass { background: -webkit-linear-gradient(180deg, #9bcc50 50%, #9bcc50 50%);background: -ms-linear-gradient(180deg, #9bcc50 50%, #9bcc50 50%);background: -moz-linear-gradient(180deg, #9bcc50 50%, #9bcc50 50%);background: -o-linear-gradient(180deg, #9bcc50 50%, #9bcc50 50%);background: linear-gradient(180deg, #9bcc50 50%, #9bcc50 50%);background-color: #9bcc50;color: #fff;}
.background-color-electric { background: -webkit-linear-gradient(180deg, #eed535 50%, #eed535 50%);background: -ms-linear-gradient(180deg, #eed535 50%, #eed535 50%);background: -moz-linear-gradient(180deg, #eed535 50%, #eed535 50%);background: -o-linear-gradient(180deg, #eed535 50%, #eed535 50%);background: linear-gradient(180deg, #eed535 50%, #eed535 50%);background-color: #eed535; color: #fff;}
.background-color-psychic { background: -webkit-linear-gradient(180deg, #f366b9 50%, #f366b9 50%);background: -ms-linear-gradient(180deg, #f366b9 50%, #f366b9 50%);background: -moz-linear-gradient(180deg, #f366b9 50%, #f366b9 50%);background: -o-linear-gradient(180deg, #f366b9 50%, #f366b9 50%);background: linear-gradient(180deg, #f366b9 50%, #f366b9 50%);background-color: #f366b9;color: #fff;}
.background-color-ice { background: -webkit-linear-gradient(180deg, #51c4e7 50%, #51c4e7 50%);background: -ms-linear-gradient(180deg, #51c4e7 50%, #51c4e7 50%);background: -moz-linear-gradient(180deg, #51c4e7 50%, #51c4e7 50%);background: -o-linear-gradient(180deg, #51c4e7 50%, #51c4e7 50%);background: linear-gradient(180deg, #51c4e7 50%, #51c4e7 50%);background-color: #51c4e7;color: #fff;}
.background-color-dragon { background: -webkit-linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);background: -ms-linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);background: -moz-linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);background: -o-linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);background-color: #53a4cf;color: #fff;}
.background-color-dark { background: -webkit-linear-gradient(180deg, #707070 50%, #707070 50%);background: -ms-linear-gradient(180deg, #707070 50%, #707070 50%);background: -moz-linear-gradient(180deg, #707070 50%, #707070 50%);background: -o-linear-gradient(180deg, #707070 50%, #707070 50%);background: linear-gradient(180deg, #707070 50%, #707070 50%);background-color: #707070;color: #fff;}
.background-color-fairy { background: -webkit-linear-gradient(180deg, #fdb9e9 50%, #fdb9e9 50%);background: -ms-linear-gradient(180deg, #fdb9e9 50%, #fdb9e9 50%);background: -moz-linear-gradient(180deg, #fdb9e9 50%, #fdb9e9 50%);background: -o-linear-gradient(180deg, #fdb9e9 50%, #fdb9e9 50%);background: linear-gradient(180deg, #fdb9e9 50%, #fdb9e9 50%);background-color: #fdb9e9;color: #fff;}


/* Modal descriptions pokemon */

.modal-descriptions {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content-descriptions {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    max-height: 90vh;
    width: 100%;
    text-align: center;
    overflow: auto;
}

.pokemon-description {
    margin: 10px 0;
}

.pokedex-entries {
    margin-top: 5px;
}

.close-modal-descriptions {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #fff;
}

.close-modal-descriptions:hover {
    color: #ccc;
}


/* Loader */  
.pokeball{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display:flex;
    justify-content:center;
    width: 60px;
    height: 60px;
}

.pokeball::after{
    content:'';
    background:rgba(0,0,0,.2);
    height: 5px;
    width:60%;
    border-radius: 100%;
    position:absolute;
    bottom: -2px;
}
  
.filler {
    position: relative;
    z-index:2;
    display:block;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 50% ;
    overflow: hidden;
    border: 3px solid;
}
  
.pokeball >span::after, .filler::after{
    content: '';
    position: absolute;
    width: 60px;
    height: 30px;
    background-color: red;
    border-bottom: 4px solid;
    top: -4px;
}
  
.pokeball >span::before, .filler::before{
    content: '';
    position: absolute;
    background-color: #fff;
    width: 12px;
    height:12px;
    border: 4px solid;
    border-radius: 50%;
    bottom: 17px;
    right: 17px;
    z-index: 1;
}
/* .pokeball >span::before{
    content: '';
    position: absolute;
    background-color: #fff;
    width: 12px;
    height:12px;
    border: 4px solid;
    border-radius: 50%;
    bottom: 17px;
    right: 17px;
    z-index: 1;
} */



/* 
IDEES :

- Ajouter un loader - FAIT
- Ajouter un champ de recherche - FAIT
- Ajouter un système de filtre (par type, par nom, par génération, etc..)
- Ajouter la fiche du pokemon
    - Afficher le plus d'informations possibles : 
        - Le nom en français - FAIT
        - Version shiny - FAIT
        - chaine d'évolution - FAIT - Corriger les images des évolutions (férosinge) - FAIT
        - les variétés des pokémons - FAIT
        - Quelques infos en plus (base hapiness, capture rate, generation, habitat, etc..) - FAIT
        - Au clic du nom du pokémon, afficher un modal avec toutes les descriptions de tout les jeux - FAIT
        - Mettre un petit badge "légendaire" lorsque le pokémon est un légendaire
        - Rajouter la couleur des pokémons
        - ................



Si j'ai fini vite : 
- Responsivité
- Navbar
    - Dark mode
    - PokeAlea
    - ................
- Fiche pokémon
    - Faire un système de pagination

*/